Source: lliurex-remote-agent
Section: admin
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es> 
Build-Depends: debhelper (>=10), llxsrchelper, zero-dev, python3-poinstaller
Standards-Version: 4.1.2
Homepage: http://lliurex.net
Vcs-Browser: https://github.com/lliurex/lliurex-remote-agent

Package: zero-lliurex-remote-agent
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lliurex-remot-agent installer
  Zero-center helper, It downloads and installs lliurex-remote-agent

Package: lliurex-remote-agent
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, xdg-user-dirs, lliurex-desktops-keeper (>=1.83.12), anydesk-client (>=8.0.2), lliurex-rdesk-client (>=0.1.1)
Conflicts: anydesksai (<< 1:0.1), zero-lliurex-anydesk (<< 1:0.1)
Description: lliurex remote desktop control agent
  This package installs the aproppiate remote control agent for
  helpdesk in LliureX corporative environments.

